<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>org.w0lf.colorfulSidebar9</string>
	<string>org.w0lf.DarkBoot</string>
	<string>org.w0lf.moreMenu</string>
	<string>org.w0lf.whosTyping</string>
	<string>org.w0lf.cDock-GUI</string>
	<string>org.w0lf.cleanHUD</string>
	<string>org.w0lf.moreMenu</string>
	<string>com.alexbeals.SpacesRenamer</string>
	<string>com.github.jslegendre.LiftOff</string>
	<string>com.github.jslegendre.AfloatX</string>
</array>
</plist>
